html {
  font-family: sans-serif;
}

/* Your CSS below here */
P{
  width: 200px;
  height: 100px;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
  font-size: 1.063rem;
}