/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
  font-family: 'Source Serif Pro', serif;
  font-size: 10px;
}

h1, h2 {
  font-family: 'Roboto slav', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
}

header h1 {
  font-size: 2em;
  text-align: center;
}

section {
  text-indent: 20px;
}

a:link, a:active {
  color: #a66;
}

a:hover, a:visited {
  color: rgb(216, 60, 60);
  text-decoration: none;
}

section p a::after {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 0 2px 0 4px;
  content: "";
  background: url(https:raw.githubusercontent.com/mdn/learning-area/master/css/styling-text/typesetting-a-homepage-start/external-link-52.png) no-repeat;
  background-size: 100% auto;
}

nav ul li a:hover {
  background-color: rgba(170, 102, 102, 0.37);
}

nav ul li {
  list-style: none;
  width: 13rem;
    margin: 25px o 25px 0;
    line-height: 3;
}

section li, aside ul li {
  line-height: inherit;
  list-style-type: initial;
}